.input {
    background-color: transparent;
    border: 2px solid #b00404;
    outline: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 20rem;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 0 10px #b00404;
}